body {
    overflow: hidden;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent;
    max-height: 90vh; 
}
/* For WebKit (Chrome, Safari, etc.) */
body::-webkit-scrollbar {
width: 0px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
background-color: transparent; /* Set the color of the thumb */
}

body::-webkit-scrollbar-track {
background-color: transparent; /* Set the color of the track */
}

.landing-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252525; /* Set initial background color */
    z-index: 1;
    opacity: 1; /* Initially hidden */
    transition: opacity 1.5s ease, background-color 1.5s ease; /* Smooth transitions */
}

.landing-entry {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.landing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20vh;
    transition: width 1s ease;
}

.square {
    cursor: pointer;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.square:hover {
    opacity: 1;
}

.square:hover .background {
    opacity: 1;
    background-color: #252525; /* Update background color on hover */
    transition: opacity 1s ease, background-color 1s ease;
}

.square:hover .container {
    width: 150vw; /* Adjusted size on hover */
    transition: width 1s ease;
}

.loading-indicator {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #93d5f8ff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.sec1-card {
    height: 50vh;
    border: 20px solid #93d5f8ff!important;
}

.sec1-card * {
    transition: all 1s ease;
}

.hero-header {
    transition: all 2s ease;
}

.hero-tagline {
    background-color: #fafafab5;
}

@media (max-width: 490px) {
    .hero-header {
        background-position-x: -41rem!important;
    }
}

@media (max-width: 768px) {
    .sec1-card {
        height: 50vw;
        border: 5px solid #93d5f8ff!important;
    }
}